<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Time Zone</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList; let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{user.real_name}}</td>
                        <td>{{user.tz}}</td>
                        <td><button class="btn btn-primary" (click)="openModal(user.activity_periods)">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>